
@import "tailwindcss";
@theme{
  --color-blue-900:#0B0D17;
  --color-blue-300:#D0D6F9;
  --font-bellefair:"Bellefair",serif;
  --font-barlow:"Barlow Condensed",sans-serif;
  --text-1:clamp(5rem, 3.5915rem + 6.0094vw, 9rem);
  --text-2: clamp(3.5rem, 2.6197rem + 3.7559vw, 6rem);
  --text-3:clamp(1.5rem, 0.7958rem + 3.0047vw, 3.5rem);
  --text-4:clamp(1.125rem, 0.8169rem + 1.3146vw, 2rem);
  --text-5:clamp(1.25rem, 1.0739rem + 0.7512vw, 1.75rem);
  --text-5--letter-spacing:4px;
  --text-6: clamp(1rem, 0.7359rem + 1.1268vw, 1.75rem);
  --text-7:14px;
  --text-8: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);
  /* --text-8--line-height:19.2%; */
  --text-8--letter-spacing:2px;
  --text-9: clamp(0.9375rem, 0.8715rem + 0.2817vw, 1.125rem);
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


.menu-item{
  position: relative;
}
.menu-item::after{
  content:"";
  display: block;
  position:absolute;
  bottom:0;
  left:0;
  width:0;
  height: 2px;
  background-color: white;
  transition-duration: 0.3s;
}
.mobile-menu-item{
  position: relative;
}
.mobile-menu-item::after{
  content:"";
  display: block;
  position: absolute;
  right:10px;
  width:2px;
  height:0;
  background-color: white;
  transition-duration: 0.3s;
}
.mobile-menu-item:hover::after,.mobile-menu-item.active::after{
  height:100%;
}
.menu-item:hover::after,.menu-item.active::after{
  width:100%;
}
.menu-item:hover::after,.mobile-menu-item:hover::after{
  background-color:rgba(255,255,255,0.5)
}
